:root{
    --backgroundcolor: #87A8D1;
    --contentcolor: #3B424C;
    --lineColor: #B7D6F1;

    --menuTopMargin: 0px;

}


*{
    box-sizing: initial;
    padding: 0;
    margin: 0;
}

#SearchBarIcon{
    color: var(--contentcolor);
    font-size: 30px;
    font-family: "Apple SD Gothic Neo";

    margin: 10px 0 0 10px;
}


#SearchBar{
    right:0px;
    top: var(--menuTopMargin);

    width: 50px;
    height: 50px;
    background-color: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}